:root {
    --left-width: 35vw;
    --right-width: calc(100vw - var(--left-width));

    --blurb-height: 30vh;
    --form-height: 40vh;
    --login-height: calc(100vh - calc((var(--blurb-height)) + (var(--form-height))))
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0px;
}

div {
    padding: 0px;
}

.left {
    height: 100vh;
    width: var(--left-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: no-repeat url("./images/surfer.jpg");
    background-size: 100% 100%;

    a,p {
        color: white;
        font-weight: 75;
    }
}

.logo-title {
    background: rgba(0,0,0,0.4);
    height: 15%;
    width: 100%;
    margin-top: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: white;
        font-size: 75px;
    }

    img {
        height: 100%;
    }
}

.right {
    height: 100vh;
    width: var(--right-width);
    display: flex;
    flex-direction: column;
}

.blurb {
    width: var(--right-width);
    height: var(--blurb-height);
    background-color: rgb(240,240,240);

    p {
        font-size: 24px;
        font-weight: 800;
        font-family: 'Times New Roman', Times, serif;

        margin: 24px;
        position: relative;
        top: 50px;
        max-width: 80%;
    }
}

.sign-up-form {
    width: var(--right-width);
    height: var(--form-height);
    background-color: white;
    position: relative;
    box-shadow: 0px 5px 10px grey;

    form {
        height: 100%;
        width: 75%;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        gap: 100px;

        fieldset {
            border: 0px;
            width: 100%;
            height: 100%;

            padding: 0px 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 50px;

            legend {
                padding: 30px 0px;
                font-size: 32px;
            }

            div {
                height: 2rem;

                input {
                    height: 20px;
                    width: 100%;
                }

                input::placeholder {
                    font-size: 16px;
                    font-family: 'Times New Roman', Times, serif;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }
            }
        }
    }
}

.submitButton {
    position: absolute;
    top: 400px;
    left: 10%;
}

.login {
    width: var(--right-width);
    height: var(--login-height);
    background-color: rgb(240,240,240);
}