:root {
    --left-width: 35vw;
    --right-width: calc(100vw - var(--left-width));

    --blurb-height: 30vh;
    --form-height: 40vh;
    --login-height: calc(100vh - calc((var(--blurb-height)) + (var(--form-height))))
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0px;
}

div {
    padding: 0px;
}

.left {
    height: 100vh;
    width: var(--left-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: no-repeat url("./images/surfer.jpg");
    background-size: 100% 100%;

    a,p {
        color: white;
        font-weight: 75;
    }
}

.logo-title {
    background: rgba(0,0,0,0.4);
    height: 15%;
    width: 100%;
    margin-top: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: white;
        font-size: 75px;
    }

    img {
        height: 100%;
    }
}

.right {
    height: 100vh;
    width: var(--right-width);
    display: flex;
    flex-direction: column;
}

.blurb {
    width: var(--right-width);
    height: var(--blurb-height);
    background-color: black;
}

.sign-up-form {
    width: var(--right-width);
    height: var(--form-height);
    background-color: white;
}

.login {
    width: var(--right-width);
    height: var(--login-height);
    background-color: purple;
}